/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/********** Start Header section *****************/
.header {
  background: url("../../img/bg-top2.webp") no-repeat top right;
  background-size: 100% auto;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  @include dis-flex();
  @include flex-dir-column();
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  display: block;
  .wrapper_h {
    position: relative;
    z-index: 999;
    padding: 140px 0 40px 0;
    text-align: right;
  }
  .head_txt {
    color: #fff;
    h1 {
      margin: 0;
      @extend %bold;
    }
    h3 {
      @extend %semi_bold;
      margin: 24px 0;
    }
    h5 {
      margin: 0;
      line-height: 1.6;
    }
    .animate__fadeInUp:last-child {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
  }
  &::before {
    content: "";
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: $babyblue-color;
    background: url("../../img/bg-tab.webp") no-repeat bottom left;
    background-size: auto 100%;
    background-attachment: fixed;
    z-index: 99;
    width: 55%;
  }
  &::after {
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-clip-path: polygon(0 0, 50% 0, 100% 100%, 29% 100%);
    clip-path: polygon(0 0, 50% 0, 100% 100%, 29% 100%);
    background-color: #fff;
    z-index: 9;
    width: 100%;
    -webkit-clip-path: polygon(
      0 0,
      21% 0,
      100% 71%,
      100% 100%,
      25% 100%,
      0% 50%
    );
    clip-path: polygon(0 0, 21% 0, 100% 71%, 100% 100%, 25% 100%, 0% 50%);
  }
}
/********** Housing Request *****************/
.housing {
  text-align: center;
  img {
    max-width: 380px;
    @include objectFit(contain);
  }
}
.my_form {
  @include boxShadowOne(0px 0px 24px 0px rgba(184, 184, 184, 1));
  padding: 30px 20px;
  background-color: #fff;
  h2 {
    @extend %bold;
    color: $blue-color;
    margin: 0 auto 14px auto;
  }
  h5 {
    @extend %semi_bold;
    color: $orange-color;
    margin: 0 auto 24px auto;
  }
  .effect_an {
    margin: 0 auto;
    width: 100%;
    &::after {
      background-color: $babyblue-color;
  border-color: $babyblue-color;
    }
    &::before{
      background-color: $orange-color;
  border-color: $orange-color;
    }
    &:hover , &:focus{
      background-color: $orange-color;
    }
  }
  .row > div:not(:last-child) {
    @include dis-flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 74px;
  }
}
.question {
  position: relative;
  width: 100%;
  label {
    @include rTransition(all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5));
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    color: $grey-color;
    font-weight: 100;
    font-size: 17px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -46px;
    z-index: 2;
    pointer-events: none;
  }
  .input {
    @include rTransition(all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5));
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: none;
    border: 2px solid #e1e1e1;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: $blue-color;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    &:focus {
      outline: none;
      background: $babyblue-color;
      color: #fff;
      margin-top: 30px;
      & ~ label {
        @include rTransform(translate(0, -26px));
        font-size: 13px;
      }
    }
    &:valid {
      margin-top: 0;
      & ~ label {
        text-transform: uppercase;
        font-style: italic;
        @include rTransform(translate(5px, 30px) scale(0.6));
        position: absolute;
        top: 0;
      }
    }
  }
}
/******************* select2 **************************/
.select2-container--open .select2-dropdown {
  min-width: 100px;
  direction: rtl;
  text-align: right;
  border: 1px solid #e1e1e1;
  border-radius: 0 0 12px 12px;
  background-color: #e1e1e1;
}
.select2-results__option {
  display: block;
  &--highlighted[aria-selected] {
    background-color: $babyblue-color !important;
  }
}
.select2-container {
  z-index: 9999;
  width: 100% !important;
  .select2-selection--single {
    height: 43px !important;
    border-radius: 60px !important;
  }
}
.select2-container--default .select2-selection--single {
  border: 2px solid #e1e1e1;
  .select2-selection__rendered {
    color: $grey-color;
    padding: 0 15px 0 20px;
    text-align: right;
    line-height: 39px !important;
  }
  .select2-selection__arrow {
    top: calc(50% - 13px) !important;
    left: 1px;
    right: auto;
  }
  &:focus {
    border-color: var(--blue-color);
  }
}
/**********************/
.promise {
  color: $grey-color;
  text-align: right;
  margin: 20px 0 0 0;
  font-size: 14px;
}
/********** Start About section *****************/
.block1 {
  p {
    color: $grey-color;
    margin-bottom: 0.4rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.orng {
  color: $orange-color;
  margin: 30px 0 20px 0;
}
.dotted_list {
  color: $grey-color;
  list-style: none;
  li{
    line-height: 1.5;
    padding-right: 20px;
    position: relative;
    display: block;
    margin-bottom: 13px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before{
      content: "";
  background-color: #55abd2;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  right: 0;
  top: 6px;
    }
  }
}
/******* about video ************/

.pulse:hover {
  -webkit-animation: none;
  animation: none;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(86, 175, 188, 0);
    box-shadow: 0 0 0 rgba(86, 175, 188, 0);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
    box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(86, 175, 188, 0);
    box-shadow: 0 0 0 rgba(86, 175, 188, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(86, 175, 188, 0);
    box-shadow: 0 0 0 rgba(86, 175, 188, 0);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
    box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(86, 175, 188, 0);
    box-shadow: 0 0 0 rgba(86, 175, 188, 0);
  }
}
.left_column {
  height: 100%;
  @include dis-flex();
  @include flex-col-center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  @include flex-dir-column;
  color: #fff;
  margin: 8px auto 0 auto;
  p {
    font-size: 21px;
    margin: 8px auto 0 auto;
  }
}
.pulse {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  @include flex-center;
  top: calc(50% - 30px);
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  background-color: #BEB9BA;
  border: 6px solid #BEB9BA;
  cursor: pointer;
  @include boxShadowOne(0 0 0 10px rgba(86, 175, 188, 0.4));
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}
.video-btn {
  background-color: transparent;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  img{
    @extend %containImg;
  }
}

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
  
}
.modal-content {
  max-width: 90%;
  margin: 0 auto;
}
.modal-body {
  position: relative;
  padding: 0px;
  .close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
    text-shadow: none;
    background-color: $orange-color !important;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    @include flex-center;
    padding: 0 !important;
    margin: 0 !important;
  }
}
/********** End Header section *****************/
/*********** RESPONSIVE **********************/
@media (max-width: 991px) {
  .header {
    background-size: cover;
  }
}
@media (max-width: 767px) {
  /*********** Header ********************/
  .header {
    background-size: 100% 400px;
    background-attachment: unset;
    &::before {
      height: 400px;
    }
    &::after {
      top: 0;
      @include absolute;
      background-color: rgba(0, 0, 0, 0.5);
      @include rTransform(none);
      width: 100%;
      height: 400px;
      -webkit-clip-path: none;
      clip-path: none;
    }
    .wrapper_h {
      padding-top: 100px;
    }
    .head_txt {
      max-width: unset;
      color: $babyblue-color;
      margin-bottom: 20px;
      h1 {
        font-size: 30px;
      }
      h3 {
        font-size: 22px;
        margin: 14px 0;
      }
      h5 {
        font-size: 17px;
        color: #fff;
      }
    }
  }
  /***************** Housing********************/
  .housing img {
    max-width: 280px;
  }
  .my_form {
    padding: 16px 12px;
    margin: 0 auto 30px auto;
    h2 {
      margin: 0 auto 10px auto;
      font-size: 22px;
    }
    h5 {
      margin: 0 auto 4px auto;
      font-size: 16px;
    }
  }
  .left_column {
    margin: 20px auto 0 auto;
    p{
      color: $blue-color;
    }
  }
  .block1 p {
    line-height: 1.2;
    margin-bottom: 0;
    color: $blue-color;
  }
  .video-btn {
    color: $blue-color;
  }
  .modal-body .close {
    right: 30px;
    top: -30px;
    z-index: 999999;
    color: $black-color;
  }
  .about {
    border-top: 1px solid #d7d7d7;
    margin-top: 30px;
    padding-top: 30px;
  }
  
}
