/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/********************* Start Navbar **************************/
/* Nav Icon */
#nav-icon1 {
  @include rTransform(rotate(0deg));
  @include rTransition(0.5s ease-in-out);
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  line-height: 30px;
  z-index: 999;
  right: 0;
  display: none;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 23px;
    @include absolute();
    background: #f2f4f7;
    border-radius: 30px;
    opacity: 1;
    @include rTransform(rotate(0deg));
    @include rTransition(0.25s ease-in-out);
    &:nth-child(1) {
      top: 14px;
    }
    &:nth-child(2) {
      bottom: 20px;
    }
    &:nth-child(3) {
      top: 21px;
    }
  }
  &.open {
    span {
      background: $orange-color;
      &:nth-child(1) {
        @include rTransform(rotate(45deg));
        top: 15px;
      }
      &:nth-child(2) {
        @include rTransform(rotate(-45deg));
        top: 15px;
      }
      &:nth-child(3) {
        opacity: 0;
      }
    }
  }
}
/*/////////////////*/
.navbar {
  width: 100%;
  border-radius: 0;
  line-height: 90px;
  height: 90px;
  min-height: auto;
  background-color: transparent;
  border: 0;
  position: fixed;
  z-index: 99;
  padding: 0;
  top: 8px;
  @include absolute();
  @include dis-flex();
  @include rTransition(0.5s all);
  @include boxShadowOne(0px 1px 2px 0px transparent);
  .container .row {
    width: calc(100% + 30px);
  }
  /******* right ******/
  .logo-nav {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    @include dis-flex();
    border-left: 1px solid #fff;
    padding-left: 16px;
    img {
      width: 100%;
      max-width: 100px;
      @include objectFit(contain);
      max-height: 90px;
    }
  }
  /****** navbar left *******/
  .nav-left {
    text-align: left;
  }
}
/* nav ul */
.navy {
  ul.nav {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    max-width: 900px;
    & > li {
      & > a {
        font-size: 16px;
        text-transform: capitalize;
        display: block;
        padding: 6px;
        color: #ffffff;
        background-color: transparent;
        position: relative;
        line-height: 1;
        &::before {
          content: "";
          border-bottom: 4px solid $orange-color;
          border-radius: 30px;
          position: absolute;
          bottom: -14px;
          position: absolute;
          @include absolute();
          width: 0%;
          opacity: 0;
          @include rTransition(all 0.4s ease-in-out);
        }
        &.active,
        a:hover,
        a:focus {
          background-color: transparent;
          &::before {
            opacity: 1;
            width: 75%;
          }
        }
      }
    }
    &.open {
      a,
      a:hover,
      a:focus {
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
}
/************** Left Navbar *******************/
.nav_left {
  @include dis-flex();
  @include flex-dir-column();
  line-height: 1;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 600px;
  .social {
    li a {
      background-color: $babyblue-color;
      color: #fff;
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
  .effect_an {
    &.call_now {
      margin-top: 16px;
      color: $babyblue-color;
      div {
        direction: ltr;
      }
      p {
        margin: 0;
      }
      span{
        margin-right: 10px;
        color: $green-color;
        @include rTransition(all 0.5s ease-in-out);
      }
      &:hover , &:focus{
        span{
          color: #ffffff;
        }
      }
    }
  }
}
/************** Fixed Navbar *******************/
.navbar.fixd_navbar {
  background-color: $blue-color;
  @include boxShadowOne(0px 1px 2px 0px rgba(230, 230, 230, 1));
  top: 0;
  .nav-right {
    @include dis-flex;
    @include flex-col-center;
    justify-content: flex-start;
    height: 100%;
}
  .logo-nav {
    padding-top: 10px;
  padding-bottom: 10px;
  }
  .navy ul.nav {
    @include flex-col-center();
    height: 90px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    height: 90px;
    line-height: 90px;
  }
  .nav_left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    @include flex-col-center();
    height: 90px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .effect_an.call_now {
    margin-top: 0;
    margin-right: 20px;
    border-radius: 8px;
  min-width: unset;
  padding: 2px 12px;
    p {
      display: none;
    }
    span {
      margin: 0;
      color: #fff;
    }
    &::after {
      background-color: #60c837;
  border-color: #60c837;
  border-radius: 8px;
    }
  }
}
/********************* End Navbar **************************/
/******************* Start Footer **************************/
footer {
  position: relative;
  text-transform: capitalize;
  color: #fff;
  padding: 20px 0;
  margin-top: 160px;
  font-size: 16px;
  text-align: center;
  background: url("../../img/bg-foot2.webp") no-repeat bottom center;
  background-size: 100% 100%;
  &::before {
    content: "";
    background: url("../../img/bg-foot1.webp") no-repeat bottom center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    position: absolute;
    bottom: 100%;
    @include absolute();
    height: 160px;
  }
  .row {
    @include flex-col-center();
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .social {
    li a {
      background-color: #fff;
      color: $blue-color;
      font-size: 21px;
      width: 36px;
      height: 36px;
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
}
.copyright {
  text-transform: capitalize;
  text-align: center;
}
.made_by {
  a {
    color: #ffffff;
    &:hover,
    &:focus {
      color: $orange-color;
    }
  }
  img {
    margin-right: 10px;
    max-width: 35px;
    @include objectFit(contain);
  }
}
/******************* End Footer **************************/
/************** ANIMATION ****************/
.wow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
/******************* RESPONSIVE **************************/
@media (min-width: 768px) and (max-width: 1199px) {
  .navy ul.nav > li > a {
    font-size: 14px;
    padding: 6px 2px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .navy ul.nav {
    @include dis-flex();
    @include flex-col-center();
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    & > li > a {
      font-size: 11px;
    }
  }
  .navbar.fixd_navbar {
    .effect_an.call_now {
      margin-top: 0;
    }
  }
}
@media (max-width: 991px) {
  /************************** start navbar ****************/
  .navbar {
    padding: 0;
    .row > div {
      padding: 0 3px;
    }
  }
  .nav_left {
    .social li {
      a {
        width: 22px;
        height: 22px;
        font-size: 13px;
      }
      &:not(:last-child) {
        margin-left: 4px;
      }
    }
  }
  /************************** End navbar ****************/
}
@media (max-width: 767px) {
  /******* Start Navbar ***********/
  #nav-icon1 {
    display: table !important;
  }
  .nav-right {
    @include dis-flex();
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @include flex-col-center();
    left: 0;
  }
  .effect_an.call_now {
    min-width: 100px;
  }
  .effect_an.call_now div {
    padding: 6px;
  }
  .navbar {
    height: 60px;
    line-height: 60px;
    display: block;
    .logo-nav {
      height: 60px;
      padding: 0 10px 0 7px;
    }
    .container {
      padding: 0 6px;
      .row {
        width: 100%;
    margin: 0 auto;
        &> div {
          padding: 0 !important;
        }
      }
    }
    .logo-nav {
      height: 60px;
      padding: 10px;
    }
    &.fixd_navbar {
      .nav_left {
        height: 60px;
      }
      .effect_an.call_now {
        padding: 0;
        div {
          height: unset;
          line-height: unset;
          padding: 8px 7px;
        }
      }
    }
  }
  /***************/
  .nav-r {
    margin-right: -260px;
    position: fixed;
    bottom: 0px;
    right: 0;
    top: 0;
    left: 0;
    z-index: 999999999;
    height: 100%;
    width: 260px;
    display: block;
    opacity: 0;
    @include rTransition(all 0.3s ease-in-out);
    visibility: hidden;
  }
  .fixed-r {
    opacity: 1;
    margin: 0;
    visibility: visible;
  }
  .navy {
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    margin: 0;
    padding: 0 !important;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    position: fixed;
    z-index: 1000020;
    height: 100%;
    width: 100%;
    max-height: 100% !important;
    display: block;
    min-width: 0;
    @include rTransition(all 0.6s ease);
    border-top: none;
    right: -100%;
    float: right;
    &::after {
      content: "";
      position: absolute;
      @include absolute();
      width: 100%;
      border-bottom: 1px solid #eaefe8;
      border-bottom: 1px solid rgba(197, 197, 197, 0.5);
      bottom: 36px;
    }
    &.back-nav {
      right: 0;
    }
  }
  .body-mob {
    .nav-right {
      position: fixed;
      z-index: 99999999999999999999;
      width: 100vw;
      padding: 0 40px;
      top: 0;
      background-color: $blue-color;
      height: 100px !important;
      justify-content: space-between !important;
      @include absolute();
      .logo-nav {
        width: 120px;
        height: auto;
        border-left: 0;
        border-right: 1px solid #fff;
      }
    }
    .fixd_navbar .navy ul.nav > li > a {
      color: $grey-color;
    }
    #nav-icon1.open span {
      background: #fff;
    }
  }
  .navy ul.nav,
  .navbar.fixd_navbar .navy ul.nav {
    position: absolute;
    right: 50%;
    top: 50%;
    @include rTransform(translate(50%, -50%));
    opacity: 1;
    width: 100%;
    display: block;
    z-index: 99;
    background-color: transparent;
    padding: 0 30px;
    height: unset;
    line-height: unset;
    li {
      display: block;
      border-radius: 0;
      &:last-child {
        border: 0 !important;
      }
      &:after {
        right: 0;
        left: auto;
        margin: 0;
        bottom: 0;
        width: 0%;
        height: 100%;
        opacity: 0;
        border-bottom: 0;
        border-radius: 0;
        background-color: $orange-color;
        opacity: 1;
      }
      a,
      a.active {
        color: $blue-color;
        font-size: 18px;
        line-height: 3;
        text-align: right;
        position: relative;
        padding: 0 12px;
        border-radius: 46px;
        &::before {
          display: none;
        }
        &::after {
          content: "\f137";
          font-family: "Font Awesome 5 Free";
          position: absolute;
          top: 0;
          left: 12px;
          display: inline-block;
          font-weight: 900;
        }
        &:hover,
        &:focus {
          color: #fff !important;
          background-color: $orange-color;
        }
        &.active {
          background-color: $orange-color;
          border: 0;
          color: #fff !important;
        }
      }
      &:hover::after,
      &.active::after {
        width: 100%;
      }
    }
  }
  /********* End Navbar *********
    /******** Start Footer ********************/
  footer {
    font-size: 14px;
    margin-top: 90px;
    &::before {
      height: 90px;
      background-size: cover;
    }
  }
  /*********** End Footer ********************/
}
@media (max-width: 360px) {
  .navbar.fixd_navbar .effect_an.call_now {
    margin-right: 10px;
  }
}
@media (max-width: 567px) {
  .footer .row {
    display: block;
    .social {
      margin: 20px auto;
    }
  }
  .navbar.fixd_navbar {
    .effect_an.call_now {
      margin-right: 2px;
    }
    .nav_left {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-right: 5px;
    }
  }
}
